In [6]:
from surprise import SVD
from surprise import Dataset
from surprise.model_selection import cross_validate
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [7]:
Y_train = pd.read_csv('https://raw.githubusercontent.com/charlesincharge/Caltech-CS155-2022/main/miniprojects/miniproject2/data/train.csv').astype(int)
Y_test = pd.read_csv('https://raw.githubusercontent.com/charlesincharge/Caltech-CS155-2022/main/miniprojects/miniproject2/data/test.csv').astype(int)

In [8]:
Y_train

       User ID  Movie ID  Rating
0          196       242       3
1          186       302       3
2           22       377       1
3          166       346       1
4          298       474       4
...        ...       ...     ...
89995      378        78       3
89996      880       476       3
89997      716       204       5
89998      276      1090       1
89999       12       203       3

[90000 rows x 3 columns]

In [26]:
import pandas as pd
from surprise import Dataset
from surprise import Reader

reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(Y_train[['User ID', 'Movie ID', 'Rating']], reader)

In [27]:
from surprise import SVD
from surprise.model_selection import cross_validate

In [28]:
svd = SVD(verbose=True, n_epochs=10)

In [29]:
trainset = data.build_full_trainset()
svd.fit(trainset)

Processing epoch 0
Processing epoch 1
Processing epoch 2
Processing epoch 3
Processing epoch 4
Processing epoch 5
Processing epoch 6
Processing epoch 7
Processing epoch 8
Processing epoch 9

In [30]:
test = Dataset.load_from_df(Y_test[['User ID', 'Movie ID', 'Rating']], reader)

In [31]:
testset = test.build_full_trainset()
testset = testset.build_testset()
preds = svd.test(testset)